*{
    text-decoration: none;
    

}

.container{
    height: 60px;
    padding: 0rem calc((100vw - 1300px) / 2);
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family: 'Lora', serif;
    background: transparent;
}

.L{
    background-color: transparent;
}

.logo{
    color: #fff;
    padding-left:1rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-style: italic;
    text-transform: uppercase;
    background: transparent;
}

.nav-links{
    color:#fff;
    text-decoration: none;
    padding: 1rem;
    background: transparent;

}